range-slider {
    display: block;
    position: relative;
    width: 100%;
    max-width: 540px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    overflow: hidden;
}

segment-background {
    display: block;
    position: absolute;
    height: 30px;
    background-color: #fbfbfb;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    box-shadow: 0 -1px #f3f3f3 inset;
}

segment {
    display: block;
    position: absolute;
    height: 30px;
    background-color: #556b2f;
}

handler {
    display: block;
    position: absolute;
    top: 60px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #a9a9a9;
    border: 1px solid #2f4f4f;
}

handler:after {
    content: '';
    position: absolute;
    top: -61px;
    left: 10px;
    width: 1px;
    height: 60px;
    background-color: #2f4f4f;
}

position-display {
    display: block;
    position: absolute;
    top: -30px;
    left: 10px;
    right: auto;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
}

position-display.position-display-right {
    left: auto;
    right: 10px
}